{% extends 'base.html' %}

{% block content %}
<form method="POST">
    <label for="letters">What letters are known to be in the word?</label>
    <input type="text" name="letters">
    <br>
    <label for="exclude">What letters are known to NOT be in the word?</label>
    <input type="text" name="exclude">
    <br>
    <label for="positions">What letters positions are known (green) to in the word? (Use _ for unknowns: __u__)</label>
    <input type="text" name="positions">
    <br>
    <p>Please select what kind of results you would like:</p>
    <label for="words">Words</label>
    <input type="radio" id="words" name="result_format" value="Words">
    <br>
    <label for="definitions">Definitions</label>
    <input type="radio" id="definitions" name="result_format" value="Definitions">
    <br>
    <label for="both">Both words and definitions</label>
    <input type="radio" id="both" name="result_format" value="Both">
    <br>
    <input type="submit">
</form>
{% endblock %}
